@model CcsData.Models.CreditPull.CreditLiability

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CreditLiability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applicant.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseCred.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseCred.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Whose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Whose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sourse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sourse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lates.First().Late30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lates.First().Late30)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lates.First().Late60)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lates.First().Late60)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lates.First().Late90)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lates.First().Late90)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOpened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HiCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HiCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthsRemaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthsRemaining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Liability_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
