@model CcsData.ViewModels.App3


<article id="app3">
    @using (Ajax.BeginForm("App3", "Applications4", null, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "app", OnBegin = "appBegin", OnSuccess = "app3Success", LoadingElementId = "waiting", LoadingElementDuration = 600 }, new { @class = "form-horizontal bigForm" }))
    {

        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.EstimatedHomeValue, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.EstimatedHomeValue, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.EstimatedHomeValue, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstMortgageBalance, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FirstMortgageBalance, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.FirstMortgageBalance, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentInterestRate, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.CurrentInterestRate, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.CurrentInterestRate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestRateType, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.InterestRateType, new { @class = "form-control input-lg" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.InterestRateType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LoanType, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.LoanType, new { @class = "form-control input-lg" })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.LoanType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MortgageTerm, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.MortgageTerm, new { @class = "form-control input-lg" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.MortgageTerm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Has2ndMortgage, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                <div class="col-sm-6">
                    @Html.EnumDropDownListFor(model => model.Has2ndMortgage, new { @class = "form-control input-lg", onchange = "SecondMortgageChanged()" })
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(model => model.Has2ndMortgage, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div id="payOff2ndId" style="display:none" class="form-group">
            @Html.LabelFor(model => model.PayOff2ndMortgage, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PayOff2ndMortgage, new { @class = "form-control input-lg" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.PayOff2ndMortgage, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="secondMgBalId" style="display:none" class="form-group">
            @Html.LabelFor(model => model.SecondMortgageBalance, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SecondMortgageBalance, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.SecondMortgageBalance, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="secondMgInterestId" style="display:none" class="form-group">
            @Html.LabelFor(model => model.SecondMortgageInterestRate, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SecondMortgageInterestRate, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.SecondMortgageInterestRate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="secondmgTypeId" style="display:none" class="form-group">
            @Html.LabelFor(model => model.SecondMortgageRateType, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SecondMortgageRateType, new { @class = "form-control input-lg" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.SecondMortgageRateType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="secondMgTermId" style="display:none" class="form-group">
            @Html.LabelFor(model => model.SecondMortgageTerm, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SecondMortgageTerm, new { @class = "form-control input-lg" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.SecondMortgageTerm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="secondMgPymtId" style="display:none" class="form-group">
            @Html.LabelFor(model => model.SecondMortgagePayment, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SecondMortgagePayment, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.SecondMortgagePayment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    <div id="SecondMortgageOriginationDateId" style="display:none" class="form-group">
        @Html.LabelFor(model => model.SecondMortgageOriginationDate, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.SecondMortgageOriginationDate, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.SecondMortgageOriginationDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="col-sm-6">
                    <button id="prevbtn" type="submit" name="BtnPrevious" class="cancel btn btn-default btn-lg">Back <i class="fa fa-angle-double-left"></i></button>
                    <button id="nextbtn" type="submit" name="BtnNext" class="btn btn-primary btn-lg">Next <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    }

</article>
