@model CcsData.ViewModels.App2

@{
    ViewBag.Title = "Mortgage Application";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<h2 class="subtitle">For Consumers by Consumers</h2>

<div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
</div>

<span class="apply_percent_info pull-left">Progress</span>
<span class="apply_percent_info pull-right">50%</span>

<div class="spacer"><!-- 60px spacer --></div>

<article id="app2">
    
@using (Ajax.BeginForm("App2", "Applications4", null, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "app", OnSuccess = "app2Success" }, new { @class = "form-horizontal bigForm" }))
    {

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.OwnerShipLongevity, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.OwnerShipLongevity,"Select", new { @class = "form-control input-lg" })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.OwnerShipLongevity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreditScoreEstimate, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.CreditScoreEstimate, new { @class = "form-control input-lg" })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.CreditScoreEstimate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DaysLate, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.DaysLate, new { @class = "form-control input-lg" })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.DaysLate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div id="filedBankruptcyId" class="form-group">
        @Html.LabelFor(model => model.FiledBankruptcyType, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            <div class="col-sm-6">
                @Html.EnumDropDownListFor(model => model.FiledBankruptcyType,"Select", new { @class = "form-control input-lg", onchange = "FiledBankruptcy()" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.FiledBankruptcyType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div id="dateOfbankruptcyId" style="display: none" class="form-group">
        @Html.LabelFor(model => model.BankruptcyDischargeDate, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.BankruptcyDischargeDate, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.BankruptcyDischargeDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div id="Chapter13Id" style="display: none" class="form-group">
        @Html.LabelFor(model => model.Chapter13FilingDate, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Chapter13FilingDate, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.Chapter13FilingDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ForeclosuresShortSaleDeedinLieu, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            <div class="col-sm-6">
                @Html.EnumDropDownListFor(model => model.ForeclosuresShortSaleDeedinLieu,"Select", new { @class = "form-control input-lg", onchange = "AnyForeclosures()" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.ForeclosuresShortSaleDeedinLieu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div id="dateofForeclosureId" style="display: none" class="form-group">
        @Html.LabelFor(model => model.ForeclosureShortSaleDeedinLieuDate, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.ForeclosureShortSaleDeedinLieuDate, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.ForeclosureShortSaleDeedinLieuDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GrossAnnualIncome, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.GrossAnnualIncome, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.GrossAnnualIncome, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalMontlyPayments, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.TotalMontlyPayments, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.TotalMontlyPayments, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RuralProperty, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.RuralProperty, new { @class = "form-control input-lg" })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.RuralProperty, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Veteran, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Veteran, new { @class = "form-control input-lg" })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.Veteran, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="col-sm-6">
                <button id="prevbtn" type="submit" name="BtnPrevious" class="cancel btn btn-default btn-lg">Back <i class="fa fa-angle-double-left"></i></button>
                <button id="nextbtn" type="submit" name="BtnNext" class="btn btn-primary btn-lg">Next <i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
}
</article>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ccs.js"></script>
}