@using CcsWeb.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div id="loginSA" class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4><i class="fa fa-users"></i> Members Login</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <span class="form-group">
                        @*Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                    </span>
                    <span class="form-group">
                        @*Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        <i class="fa fa-key"></i>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </span>
                   
                    <span class="form-group">
                        <button class="btn btn-default">LO IN</button>
                        <label class="label_check">
                            @*<input type="submit" value="Log in" class="btn btn-default" />*@
                            <input data-val="true" data-val-required="The Remember me? field is required." type="checkbox" name="rememberMe" id="rememberMe" value="true" checked="checked" /> remember me
                            <input name="RememberMe" type="hidden" value="false">
                        </label>
                    </span>
                    <br />
                    <br />
                    <span>
                        @*Html.ActionLink("Register as a new user", "Register")*@
                        <a href="/Account/Register">Register as a new user</a>
                    </span>
                    
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}